:root {
  --header-color: #212121;
  --logo-color: #000000;
  --basic-white-color: #ffffff;
  --secondary-white-color: rgba(255, 255, 255, 0.6);
  --text-color: #757575;
  --accent-color: #2196f3;

  --dark-background-color: #2f303a;
  --light-background-color: #ececec;
  --gray-background: #f5f4fa;
  --border-color: #eeeeee;

  --box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  --button-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);

  --raleway: "Raleway", sans-serif;
  --roboto: "Roboto", sans-serif;
}

body {
  max-width: 1600px;
  margin: auto;
  background-color: var(--basic-white-color);
  color: var(--text-color);
  font-family: var(--roboto);
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  min-width: 100%;
}

.link-ns {
  list-style-type: none;
  text-decoration: none;
}

.title-nd {
  display: none;
}

.lists-ns {
  list-style-type: none;
}

/* 
header
*/
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
  /* outline: 2px solid tomato; */
}

.header > .container {
  display: flex;
  align-items: center;
}

.header {
  border: 1px solid var(--logo-color);
  border-bottom: 1px solid var(--light-background-color);
  background-color: var(--basic-white-color);
}

.logo {
  margin-right: 93px;
  color: var(--accent-color);
  font-family: var(--raleway);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.header-modifier-logo {
  color: var(--logo-color);
}

.nav,
.nav-inner {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.nav > li:not(:last-child) {
  margin-right: 50px;
}

.nav-inner {
  margin-left: auto;
}

.nav-inner > li:not(:last-child) {
  margin-right: 50px;
}

.nav-item {
  color: var(--header-color);
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.nav-inner-item {
  color: var(--text-color);
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.nav-item:hover,
.nav-item:focus,
.nav-inner-item:hover,
.nav-inner-item:focus {
  color: var(--accent-color);
}

/* hero */
.hero {
  background-color: var(--dark-background-color);
}

.hero-content {
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  width: 670px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  color: var(--basic-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.06em;
}

.hero-button {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding: 10px 32px;
  border-radius: 4px;
  min-width: 200px;
  border: 0ch;
  background-color: var(--accent-color);
  color: var(--basic-white-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.06em;
}

.hero-button:focus,
.hero-button:hover {
  cursor: pointer;
}

/* Особенности */

.specifics {
  background-color: var(--basic-white-color);
}

.specifics-lists {
  display: flex;
  padding-bottom: 94px;
  padding-top: 94px;
}

.specifics-lists .lists-ns:not(:last-child) {
  margin-right: 30px;
}

.lists-title {
  color: var(--header-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.4;
  text-transform: uppercase;
}

.lists-paragraph {
  font-size: 14px;
  line-height: 1.7;
}

/* Чем мы занимаемся */

.works {
  background-color: var(--basic-white-color);
}

.works-lists {
  display: flex;
  padding-top: 50px;
  padding-bottom: 94px;
}

.works-lists > .lists-ns:not(:last-child) {
  margin-right: 30px;
}

.title {
  color: var(--header-color);
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}

/* Наша команда */
.team {
  background-color: var(--gray-background);
}

.team-content {
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-title {
  margin-bottom: 50px;
}

.team-lists {
  display: flex;
}

.team-lists > .lists-ns:not(:last-child) {
  margin-right: 30px;
}

.team-lists .lists-ns {
  min-width: 270px;
  background-color: var(--basic-white-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: var(--box-shadow);
}

.team-item {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}

.team-least-content {
  padding: 30px;
}

.team-paragraph {
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}
/* footer */
.footer {
  background-color: var(--dark-background-color);
}

.address {
  font-style: normal;
  padding-top: 60px;
  padding-bottom: 60px;
}

.address .logo {
  display: block;
  margin-bottom: 20px;
}

.footer-modifier-logo {
  color: var(--basic-white-color);
}

.footer-list {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
}

.footer-addres {
  display: block;
  margin-bottom: 9px;
  color: var(--basic-white-color);
}

.footer-mail {
  display: block;
  margin-bottom: 9px;
  color: var(--secondary-white-color);
}

.footer-tel {
  color: var(--secondary-white-color);
}

.footer-mail:hover,
.footer-tel:hover,
.footer-addres:hover,
.footer-mail:focus,
.footer-tel:focus,
.footer-addres:focus {
  color: var(--accent-color);
}

/* portfolio */
/* .header-portfolio */
.header-portfolio > .container {
  display: flex;
  align-items: center;
}

.header-portfolio {
  border-bottom: 1px solid var(--light-background-color);
  background-color: var(--basic-white-color);
}

/* menu */

.portfolio > .container {
  padding-top: 94px;
  padding-bottom: 94px;
}

.menu {
  display: flex;
  margin-bottom: 34px;
  justify-content: center;
}

.menu > .lists-ns:not(:last-child) {
  margin-right: 8px;
}

.menu-button {
  padding: 6px 22px;
  border-radius: 4px;
  border: 0;
  font-family: inherit;
  background-color: var(--gray-background);
  color: var(--header-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  cursor: pointer;
}

.menu-button:hover,
.menu-button:focus {
  background-color: var(--accent-color);
  color: var(--basic-white-color);
  box-shadow: var(--button-shadow);
}

/* projects */

.projects {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * 30px);
  margin-top: calc(-1 * 30px);
}

.projects > .lists-ns {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.project-lists-content {
  padding: 20px 24px;
  background: var(--basic-white-color);
  border: 1px solid var(--border-color);
  border-top: 0;
}

.project-title {
  margin-bottom: 4px;
  color: var(--header-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project-paragraph {
  font-size: 16px;
  line-height: 1.9;
}
